<ActionBar title="Map" class="action-bar">
  <ActionItem [nsRouterLink]="['/home']" text="Retour"></ActionItem>
</ActionBar>


<ListView [items]="interestList" class="list-group">
  <ng-template let-ip="item" let-i="index">
    <StackLayout (tap)="goTo(ip)" orientation="horizontal" class="list-group-item">
      <label class="h1" [text]="ip.name"></label>
    
    </StackLayout>
  </ng-template>
</ListView>


