<ActionBar title="Home" class="action-bar">
  <ActionItem [nsRouterLink]="['/map']" text="NavButton"></ActionItem>
</ActionBar>

<StackLayout>
  <label text="Adresse :" horizontalAlignment="center"></label>
  <TextField hint="adresse"></TextField>
  <button text="Valider"></button>
  <label text="Ou" horizontalAlignment="center"></label>
  <button text="Me géolocaliser"></button>
</StackLayout>